<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/font/bootstrap-icons.css">
  <title>Kairós | Productos</title>
</head>
<body>

  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light navbar-karios">
    <a class="navbar-brand logo-principal" href="/">
      <img src="/imges/Logo_Kairos.jpeg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link texto-menu-nav" href="/">Inicio <i class="bi bi-house"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto-menu-nav active" href="/productos">Productos <i class="bi bi-suitcase-lg"></i></a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link texto-menu-nav" href="/contacto">Contactos <i class="bi bi-telephone"></i></a>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link texto-menu-nav" href="/aliados">Aliados <i class="bi bi-person-heart"></i></a>
        </li>
      </ul>
    </div>
    <img src="/imges/nombre_logo.png" width="10%" height="30" class="d-inline-block align-top" alt="Logo">
  </nav>
    
  <section class="py-5 text-center container section-kairos">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light display-4">Nuestros productos</h1>
        <p class="lead text-muted">En Agroinsumos Kairós, nos dedicamos a proporcionar soluciones agrícolas de alta calidad para mejorar la productividad y sostenibilidad de tus cultivos. Te ofrecemos una amplia gama de insumos y fertilizantes diseñados para satisfacer las necesidades específicas de cada tipo de suelo y cultivo.</p>
        <p>Encuentra aquí: Fertilizantes Orgánicos, fertilizantes químicos, biofertilizantes e insumos agrícolas.</p>
      </div>
    </div>
  </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/imges/Borozinco.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="255">
              <div class="card-body">
                <p class="card-text">Es un fertilizante granulado desarrollado para suelos deficientes en Boro (B), Zinc (Zn), Cobre (Cu) y Azufre (S), con una alta respuesta en el rendimiento y calidad de cultivos.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#firstModal">Ver más...</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/imges/Microfoliar.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="255">
              <div class="card-body">
                <p class="card-text">Microfoliar NPK es un fertilizante foliar líquido, concentrado y soluble,
                  diseñado para proporcionar una nutrición completa a las plantas. Este producto contiene...</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#secondModal">Ver más...</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/imges/Microriego.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="255">
              <div class="card-body">
                <p class="card-text">Fertilizante Microrriego es un producto especializado diseñado para ser utilizado en sistemas de microrriego. Este fertilizante
                  soluble en agua proporciona...</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modal3">Ver más...</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="/imges/acidurez.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="255">  
              <div class="card-body">
                <p class="card-text">Acidurez es un coadyuvante agrícola diseñado para acondicionar el agua utilizada en aplicaciones agrícolas, ajustando el valor de pH y reduciendo la...</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#fourthModal">Ver más...</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/imges/manganeso.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="255">
  
              <div class="card-body">
                <p class="card-text">El Sulfato de Manganeso MF es un fertilizante en polvo soluble que actúa como fuente de manganeso (Mn) y azufre (S). Este producto es
                  especialmente útil...</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#fifthModal">Ver más...</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img src="/imges/Cerostress.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="255">
              <div class="card-body">
                <p class="card-text">CEROSTRESS® es un fertilizante foliar complejo NPK enriquecido con aminoácidos de origen vegetal obtenidos mediante hidrólisis enzimática. 
                  Este prod...</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#sixthModal">Ver más...</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="modal fade" id="firstModal" tabindex="-1" aria-labelledby="firstModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="firstModalLabel">Borozinco</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Es un fertilizante granulado desarrollado para suelos deficientes en Boro (B), Zinc (Zn), Cobre (Cu) y Azufre (S), con una alta respuesta en el rendimiento y calidad de cultivos.
            Este producto está formulado para corregir deficiencias específicas de micronutrientes, promoviendo un crecimiento saludable y vigoroso de las plantas.
            Su aplicación regular mejora la estructura del suelo y aumenta la disponibilidad de nutrientes esenciales, resultando en cosechas más abundantes y de mejor calidad.
            Ideal para una amplia variedad de cultivos, este fertilizante asegura una nutrición balanceada y sostenible.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    
    <div class="modal fade" id="secondModal" tabindex="-1" aria-labelledby="secondModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="secondModalLabel">Microfoliar NPK</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Microfoliar NPK es un fertilizante foliar líquido, concentrado y soluble, diseñado para proporcionar una nutrición completa a las plantas. Este producto 
            contiene la combinación ideal de Nitrógeno (N), Fósforo (P) y Potasio (K), junto con micronutrientes esenciales como Boro (B), Zinc (Zn), Cobre (Cu) y Azufre (S). 
            Formulado para ser absorbido rápidamente por las hojas, Microfoliar NPK mejora la eficiencia en la utilización de nutrientes, promoviendo un crecimiento vigoroso y saludable. 
            Además, su aplicación regular ayuda a corregir deficiencias nutricionales, optimizando la floración y fructificación de los cultivos.
            Ideal para una amplia variedad de plantas, este fertilizante asegura una nutrición balanceada y sostenible, resultando en cosechas más abundantes y de mejor calidad.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    


<!--     
    
    <div class="modal fade" id="thirdModal" tabindex="-1" aria-labelledby="thirdModalLabel" aria-hidden="true"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="thirdModalLabel">Tercer Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Fertilizante Microrriego es un producto especializado diseñado para ser utilizado en sistemas de microrriego. Este fertilizante soluble en agua 
            proporciona los nutrientes esenciales directamente a la zona radicular de las plantas, asegurando una absorción eficiente y un crecimiento óptimo.
            Este fertilizante es una solución ideal para agricultores que buscan maximizar la eficiencia de sus sistemas de microrriego y mejorar la salud 
            y productividad de sus cultivos.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="fourthModal" tabindex="-1" aria-labelledby="fourthModalLabel" aria-hidden="true"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="fourthModalLabel">Cuarto Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Acidurez es un coadyuvante agrícola diseñado para acondicionar el agua utilizada en aplicaciones agrícolas, ajustando el valor de pH y reduciendo la dureza.
            Este producto es esencial para mejorar la eficacia de los agroquímicos y fertilizantes foliares, evitando procesos de hidrólisis y floculación de 
            los componentes en solución. Disponible en formatos de 250 g y 1 kg, facilitando su manejo y aplicación en diferentes escalas de producción agrícola.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="fifthModal" tabindex="-1" aria-labelledby="fifthModalLabel" aria-hidden="true"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="fifthModalLabel">Quinto Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            El Sulfato de Manganeso MF es un fertilizante en polvo soluble que actúa como fuente de manganeso (Mn) y azufre (S). Este producto es especialmente útil para 
            mejorar la asimilación y el transporte de elementos poco móviles y deficitarios en suelos con altos contenidos de hierro (Fe) y calcio (Ca). Se recomienda 
            aplicar este fertilizante solo después de confirmar la deficiencia del micronutriente mediante análisis o bajo la recomendación de un profesional competente.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="sixthModal" tabindex="-1" aria-labelledby="sixthModalLabel" aria-hidden="true"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sixthModalLabel">Sexto Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            CEROSTRESS® es un fertilizante foliar complejo NPK enriquecido con aminoácidos de origen vegetal obtenidos mediante hidrólisis enzimática. Este producto está 
            especialmente formulado para proporcionar Magnesio (Mg), Azufre (S), Boro (B) y Zinc (Zn), nutrientes esenciales que suelen ser deficitarios en muchos suelos 
            cultivados.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Footer -->
    <footer class="bg-gradient-light text-dark mt-5">
      <div class="container py-4">
          <div class="row">
              <div class="col-md-4">
                  <h5>Sobre Nosotros</h5>
                  <p>Somos una empresa dedicada a proporcionar suministros agrícolas de alta calidad.</p>
              </div>
              <div class="col-md-4">
                  <h5>Enlaces Útiles</h5>
                  <ul class="list-unstyled">
                      <li><a href="#" class="text-dark">Inicio</a></li>
                      <li><a href="#" class="text-dark">Productos</a></li>
                      <li><a href="#" class="text-dark">Contacto</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h5>Contacto</h5>
                  <p>Email: info@empresa.com</p>
                  <p>Teléfono: +57 123 456 7890</p>
              </div>
          </div>
      </div>
      <div class="bg-secondary text-center py-2">
          <p class="mb-0">&copy; 2024 Empresa. Todos los derechos reservados.</p>
      </div>
  </footer>


  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>